# IDE
.idea/
*.iml
.vscode/

# Build
/*/target/
/*/dist/
/*/node_modules/
/*/build/

# Logs
*.log

# Docker
.docker/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db
